

    <div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">Grow Your Business with us</p>
                <div class="row">
                    <div class="col-md-6 col-12 hero-text ">
                        <figure>
                            <img src="images/about.svg" alt="image">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 hero-text ">
                        <h1>WE ARE THE PROFFESSIONAL DEVELOPER👨‍💻</h1>

                        <P>Welcome to<span class="bold-style"> Kewin'sWeb,</span>
                            Your Number one source for all things. We're Dedicated to Giving You
                            The Very Best Of Work. With a Focus on Uniqueness, Dependability and Customer Service.
                        </P>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>
                   

                </div>

            </div>
        </div>
    </div>