<div class="container-fluid mt-5 about-style" id="contactid">
    <div class="row">
        <div class="col-md10 col-12 mx-auto">
            <h1 class="text-center main-heading">Contact Us</h1>
            <p class="text-center sub-heading">Grow Your Business with us</p>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12 mx-auto">
                        <form action="/contact" method="POST">


                            <h3>Name &nbsp &nbsp &nbsp <input type="text" id="name" name="name"
                                    placeholder="Name   "><br><br>
                                E-mail &nbsp &nbsp &nbsp <input type="text" id="email" name="email"
                                    placeholder="Email      "><br><br>
                                Phone &nbsp &nbsp &nbsp <input id="phone" name="phone" placeholder="9876543210"><br><br>
                                Description <textarea rows="3" id="description" name="description"
                                    placeholder="Description"></textarea><br><br></h3>
                            <button type="submit" style="color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  margin: 0 auto 2em;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
    background: #3498db;
  font-weight: 100;
  : hover {
  background: rgba(225, 51, 45, 0);
  letter-spacing: 1px;
  font-weight: 900;
  }
  : hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
">Submit</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
