<div class="container-fluid mt-5 about-style" id="contactid">
    <div class="row">
        <div class="col-md10 col-12 mx-auto">
            <h1 class="text-center main-heading">Contact Us</h1>
            <p class="text-center sub-heading">Grow Your Business with us</p>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12 mx-auto">
                        <form action="/contact" method="POST">


                            <h3>Name &nbsp &nbsp &nbsp <input type="text" id="name" name="name"
                                    placeholder="Name   "><br><br>
                                E-mail &nbsp &nbsp &nbsp <input type="text" id="email" name="email"
                                    placeholder="Email      "><br><br>
                                Phone &nbsp &nbsp &nbsp <input id="phone" name="phone" placeholder="9876543210"><br><br>
                                Description <textarea rows="3" id="description" name="description"
                                    placeholder="Description"></textarea><br><br></h3>
                            <button type="submit" style="
            
      button {
        display: inline-block;
        background-color: #7b38d8;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      button:hover {
        background-color: #f7c2f9;
      }
      button:hover span {
        padding-right: 25px;
      }
      button:hover span:after {
        opacity: 1;
        right: 0;
      }
      ">Submit</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
