<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services</h1>
            <p class="text-center sub-heading">Grow Your Business with us</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/6NKPrhO.png" alt="image">
                            </div>
                            <h4>Android</h4>
                            <p>Best Design and Develop Android Application</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon">
                                <img src="images/vdH9LKi.png" alt="image">
                            </div>
                            <h4>Web Development</h4>
                            <p>Node.js React.js Express.js</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon">
                                <img src="images/v6OnUqu.png" alt="image">
                            </div>
                            <h4>SSL secured</h4>
                            <p>SSL security services</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon">
                                <img src="images/vdH9LKi.png" alt="image">
                            </div>
                            <h4>AWS</h4>
                            <p>Amezon Web Services</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon">
                                <img src="images/v6OnUqu.png" alt="image">
                            </div>
                            <h4>DataBase</h4>
                            <p>MongoDb<br>SQL</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon">
                                <img src="images/6NKPrhO.png" alt="image">
                            </div>
                            <h4>Privacy</h4>
                            <p>We Provide Fully secured Services</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</div>